body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    background-color: transparent;
    text-decoration: none;
    color: #696969;
}
a:hover,
a:focus {
    text-decoration: underline;
    color: #4B0082;
}
h1 {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
}

ul.posts li {
    list-style: none;
}

ul.posts li a {
    background-color: transparent;
    text-decoration: none;
    color: #2F4F4F;
}

ul.posts li a:hover, a:focus {
    text-decoration: underline;
    color: #4B0082;
}
