<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
            <link rel="stylesheet" type="text/css" href="/css/asciidoctor.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">

			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159071141-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-159071141-1');
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!-- <li><a href="/cv">CV</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<p>Feedback is warmly welcome by <a href="mailto:rknuus@gmail.com">email</a>. Thanks.</p>
			</footer>
		</body>
	</html>
