<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8" />
			<title>{{ page.title }}</title>
            <link rel="stylesheet" type="text/css" href="/css/boot-journal.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/font-awesome/css/all.css">

			<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', '{{ site.google_analytics }}');
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/tags">Tags</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<p>Feedback is warmly welcome by <a href="mailto:rknuus@gmail.com">email</a>. Thanks.</p>
			</footer>
		</body>
	</html>
